Repository doronpers/council-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

# Pre-commit hooks configuration
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        types_or: [javascript, ts, tsx, json, css, markdown]

      - id: eslint
        name: eslint
        entry: npx eslint
        language: system
        types_or: [javascript, ts, tsx]
        args: [--cache, --fix, --no-warn-ignored]

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3
        args: [--line-length=100]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: [--config=.flake8]
        additional_dependencies:
          - flake8-docstrings
          - flake8-bugbear

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.7.1
    hooks:
      - id: mypy
        additional_dependencies:
          - types-PyYAML
          - pydantic
        exclude: ^launch-council\.py$

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline]
        exclude: |
          (?x)^(
            \.mypy_cache/|
            \.pytest_cache/|
            \.ruff_cache/|
            build/|
            dist/|
            node_modules/|
            package-lock\.json|
            \.env.*
          )

feat: Phase 2 - Implement Strategy Pattern for consultation modes
  src/council_ai/cli.py
  src/council_ai/cli/__init__.py
  src/council_ai/cli/app.py
  src/council_ai/cli/commands/__init__.py
  src/council_ai/cli/commands/consult.py
  src/council_ai/cli/commands/doctor.py
  src/council_ai/cli/commands/history.py
  src/council_ai/cli/commands/init.py
  src/council_ai/cli/commands/interactive.py
  src/council_ai/cli/commands/misc.py
  src/council_ai/cli/commands/review.py
  src/council_ai/cli/commands/web.py
  src/council_ai/cli/utils.py
  src/council_ai/core/council.py
  src/council_ai/core/strategies/__init__.py
  src/council_ai/core/strategies/base.py
  src/council_ai/core/strategies/debate.py
  src/council_ai/core/strategies/individual.py
  src/council_ai/core/strategies/sequential.py
  src/council_ai/core/strategies/synthesis.py
  src/council_ai/core/strategies/vote.py
  tests/test_cli.py
Due: none

feat: Phase 3 (WIP) - Add retry utilities and timeout configuration
  src/council_ai/core/council.py
  src/council_ai/core/retry_utils.py
  tests/test_core.py
  tests/test_retry_utils.py
Due: none

feat: Phase 3 (WIP) - Add custom exception hierarchy
  src/council_ai/core/exceptions.py
  tests/test_exceptions.py
Due: none

feat: Integrate LM Studio as default provider for cost savings
  src/council_ai/core/config.py
  src/council_ai/core/council.py
  src/council_ai/providers/__init__.py
  tests/test_exceptions.py
Due: none

docs: Promote LM Studio as default cost-free option in README and CLI
  README.md
  src/council_ai/cli/commands/doctor.py
  src/council_ai/cli/commands/init.py
  src/council_ai/core/diagnostics.py
Due: prettier

feat: Add memory, personalization, and session reports with save functionality
  .cursorrules
  COUNCIL_AI_MEMORY_PERSONALIZATION_REPORT_2026-01-19.md
  src/council_ai/cli/app.py
  src/council_ai/cli/commands/consult.py
  src/council_ai/cli/commands/interactive.py
  src/council_ai/cli/commands/session_report.py
  src/council_ai/core/__init__.py
  src/council_ai/core/council.py
  src/council_ai/core/session_reports.py
  src/council_ai/core/user_memory.py
Due: prettier

fix: LM Studio support and interactive command improvements
  src/council_ai/cli/commands/interactive.py
  src/council_ai/cli/utils.py
  src/council_ai/core/config.py
  src/council_ai/core/council.py
Due: none

fix: LM Studio support improvements and forced provider/model for local testing
  src/council_ai/cli/commands/interactive.py
  src/council_ai/core/council.py
Due: none

Fix(core): Bypass LLMManager stricter validation for lmstudio
  src/council_ai/core/council.py
Due: none

build: Add lmstudio optional dependency alias
  pyproject.toml
Due: none

feat: enhance model tuning and configure default council members
  src/council_ai/cli/commands/consult.py
  src/council_ai/cli/utils.py
  src/council_ai/core/council.py
  src/council_ai/core/persona.py
  src/council_ai/domains/__init__.py
  src/council_ai/personas/adr_supervisor.yaml
  src/council_ai/personas/compliance_auditor.yaml
  src/council_ai/personas/dempsey.yaml
  src/council_ai/personas/dialogue_editor.yaml
  src/council_ai/personas/fraud_examiner.yaml
  src/council_ai/personas/grove.yaml
  src/council_ai/personas/holman.yaml
  src/council_ai/personas/kahneman.yaml
  src/council_ai/personas/rams.yaml
  src/council_ai/personas/rerecording_mixer.yaml
  src/council_ai/personas/signal_analyst.yaml
  src/council_ai/personas/sound_designer.yaml
  src/council_ai/personas/taleb.yaml
  src/council_ai/personas/treasure.yaml
  src/council_ai/providers/__init__.py
  tests/test_cli.py
  tests/test_core.py
  tests/test_domains.py
  tests/test_exceptions.py
  tests/test_personas.py
Due: none

perf: implement comprehensive answer generation speed optimizations
  src/council_ai/core/council.py
Due: none

fix: filter LM Studio-specific parameters for standard OpenAI API
  src/council_ai/core/council.py
  src/council_ai/providers/__init__.py
Due: none

fix: remove debug logging, restore default provider, update persona IDs
  AGENT_KNOWLEDGE_BASE.md
  CLAUDE.md
  README.md
  documentation/API_REFERENCE.md
  documentation/CONTEXT_INJECTION_GUIDE.md
  documentation/QUICK_REFERENCE.md
  documentation/REVIEWER_SETUP.md
  documentation/WEB_SEARCH_AND_REASONING.md
  examples/README.md
  examples/quickstart.py
  src/council_ai/core/council.py
  src/council_ai/domains/__init__.py
  tests/test_cli.py
  tests/test_core.py
  tests/test_domains.py
  tests/test_multi_model_utility.py
  tests/test_personas.py
Due: prettier

fix: remove top_k and repetition_penalty from OpenAI client calls
  src/council_ai/providers/__init__.py
Due: none

feat: migrate from google.generativeai to google.genai package
  pyproject.toml
  src/council_ai/providers/__init__.py
  tests/test_providers.py
Due: none

feat: add real-time thinking process display for persona members
  src/council_ai/core/council.py
Due: none

fix: improve error handling and logging for member responses
  src/council_ai/core/council.py
Due: none

feat: implement full TUI interface for Council AI
  pyproject.toml
  src/council_ai/cli/app.py
  src/council_ai/cli/commands/__init__.py
  src/council_ai/cli/commands/tui.py
  src/council_ai/cli/tui/__init__.py
  src/council_ai/cli/tui/app.css
  src/council_ai/cli/tui/app.py
  src/council_ai/cli/tui/screens/__init__.py
  src/council_ai/cli/tui/screens/main_screen.py
  src/council_ai/cli/tui/widgets/__init__.py
  src/council_ai/cli/tui/widgets/history_panel.py
  src/council_ai/cli/tui/widgets/input_panel.py
  src/council_ai/cli/tui/widgets/response_panel.py
  src/council_ai/cli/tui/widgets/status_panel.py
  src/council_ai/cli/tui/widgets/thinking_panel.py
Due: prettier

feat: improve thinking display and add web interface support
  src/council_ai/core/council.py
  src/council_ai/webapp/src/components/Results/ResponseCard.tsx
  src/council_ai/webapp/src/components/Results/ResultsPanel.tsx
  src/council_ai/webapp/src/context/ConsultationContext.tsx
  src/council_ai/webapp/src/types/index.ts
Due: prettier, eslint

feat: add thinking display to CLI consultations
  src/council_ai/cli/commands/consult.py
Due: none

fix: correct TUI import path and update tests for default members
  src/council_ai/cli/commands/tui.py
Due: none

fix: correct TUI import path (use ..tui.app instead of ...cli.tui.app)
  src/council_ai/cli/commands/tui.py
Due: none

fix: remove super().on_key() call that causes AttributeError
  src/council_ai/cli/tui/widgets/input_panel.py
Due: none

fix: use asyncio.create_task() for async consultations in TUI
  src/council_ai/cli/tui/screens/main_screen.py
Due: none

fix: remove leftover threading code from _consult method
  src/council_ai/cli/tui/screens/main_screen.py
Due: none

fix: remove nested async function and fix try/except structure
  src/council_ai/cli/tui/screens/main_screen.py
Due: none

docs: add virtual environment management guide
  VENV_MANAGEMENT.md
Due: prettier

docs: add troubleshooting for deactivate command not found
  VENV_MANAGEMENT.md
Due: prettier

docs: add troubleshooting for npm_config_prefix conflict with nvm
  VENV_MANAGEMENT.md
Due: prettier

docs: add detailed solutions for npm_config_prefix conflict
  VENV_MANAGEMENT.md
Due: prettier

fix: improve error handling in TUI to show detailed module errors
  src/council_ai/cli/tui/screens/main_screen.py
Due: none

fix: use asyncio.get_running_loop() for TUI async consultations
  src/council_ai/cli/tui/screens/main_screen.py
Due: none

fix: improve async consultation error handling with fallback
  src/council_ai/cli/tui/screens/main_screen.py
Due: none

fix: initialize _consultation_tasks in __init__ to prevent AttributeError
  src/council_ai/cli/tui/screens/main_screen.py
Due: none

fix: add missing _consultation_tasks initialization in __init__
  src/council_ai/cli/tui/screens/main_screen.py
Due: none

fix: resolve MD036 linting error in VENV_MANAGEMENT.md
  VENV_MANAGEMENT.md
  src/council_ai/cli/commands/tui.py
  src/council_ai/cli/tui/app.py
  src/council_ai/cli/tui/screens/main_screen.py
  src/council_ai/core/strategies/debate.py
  src/council_ai/core/strategies/synthesis.py
  src/council_ai/core/strategies/vote.py
Due: prettier

debug: Add extensive agent logging to TUI initialization, council assembly, and screen composition with error handling.
  AGENT_KNOWLEDGE_BASE.md
Due: prettier

docs: add license attribution to agent knowledge base
  AGENT_KNOWLEDGE_BASE.md
Due: prettier

docs: expand common pitfalls with environment and tooling lessons
  AGENT_KNOWLEDGE_BASE.md
Due: prettier
