Repository doronpers/council-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: npx eslint
  language: system
  args:
  - --cache
  - --fix
  - --no-warn-ignored

docs: sync extended agent knowledge base from sono-platform
  AGENT_KNOWLEDGE_BASE.md
Due: prettier

docs: sync updated agent knowledge base with MD022 rules (lint fixes)
  AGENT_KNOWLEDGE_BASE.md
Due: prettier

docs: sync new framework guidelines from shared rules
  AGENT_KNOWLEDGE_BASE.md
Due: prettier

Code review and optimization: Remove debug code, improve security, update documentation
  .secrets.baseline
  AGENT_KNOWLEDGE_BASE.md
  DESIGN_AUDIT_REPORT.md
  README.md
  SETUP_VENV.md
  bin/connect-to-council.bat
  bin/fix-npm-path.bat
  bin/install-nodejs.bat
  bin/launch-council-cli.bat
  bin/launch-council-lan.bat
  bin/launch-council-persistent.bat
  bin/launch-council-personal.bat
  bin/launch-council-personal.command
  bin/launch-council.bat
  bin/launch-council.py
  bin/launch-reviewer.py
  bin/launch-web-ui.bat
  bin/start-server.bat
  documentation/WEB_APP.md
  launch-council.py
  scripts/activate-venv.bat
  scripts/activate-venv.ps1
  scripts/setup-venv.bat
  scripts/setup-venv.ps1
  scripts/setup-venv.sh
  src/council_ai/cli/__main__.py
  src/council_ai/cli/app.py
  src/council_ai/cli/commands/interactive.py
  src/council_ai/cli/commands/tui.py
  src/council_ai/cli/config.py
  src/council_ai/cli/domain.py
  src/council_ai/cli/persona.py
  src/council_ai/cli/personal.py
  src/council_ai/cli/tui/app.py
  src/council_ai/cli/tui/screens/main_screen.py
  src/council_ai/core/council.py
  src/council_ai/webapp/assets/js/main.js
  src/council_ai/webapp/src/components/Layout/ErrorBoundary.tsx
Due: prettier, eslint

chore: Format code with pre-commit hooks (black, isort)
  documentation/CONTEXT_INJECTION_GUIDE.md
  src/council_ai/cli/commands/__init__.py
  src/council_ai/cli/commands/history.py
  src/council_ai/cli/commands/init.py
  src/council_ai/cli/commands/misc.py
  src/council_ai/cli/commands/review.py
  src/council_ai/cli/commands/web.py
  src/council_ai/cli/config_validation.py
  src/council_ai/cli/error_handling.py
  src/council_ai/cli/help_system.py
  src/council_ai/cli/tui/scrolling.py
  src/council_ai/cli/tui/widgets/__init__.py
Due: prettier

test: Add 65 new tests for strategies, workflows, and optional features
  .coveragerc
  pyproject.toml
  tests/test_consultation_workflows.py
  tests/test_diagnostics.py
  tests/test_optional_features.py
  tests/test_session_reports.py
  tests/test_strategies.py
Due: none

Add comprehensive tests for diagnostics and session_reports modules
  tests/test_diagnostics.py
  tests/test_session_reports.py
Due: none

test: Add 22 tests for provider fallback and error handling
  tests/test_provider_fallback.py
Due: none

test: Add 43 comprehensive tests for reasoning module
  tests/test_reasoning.py
Due: none

test: Add 73 comprehensive tests for reviewer module
  tests/test_reviewer.py
Due: none

test: Add tests for web search, personal integration, repository reviewer, and reviewer API endpoints
  tests/test_personal_integration.py
  tests/test_repository_reviewer.py
  tests/test_web_search.py
  tests/test_webapp_reviewer_api.py
Due: none

docs: Update CHANGELOG with test additions and housekeeping shims
  CHANGELOG.md
Due: prettier

style(docs): apply Prettier formatting to documentation files
  documentation/CONSOLIDATION_PLAN.md
  documentation/DOCS_MAINTENANCE.md
  documentation/README.md
Due: prettier

chore: update secrets baseline after doc changes
  .secrets.baseline
  documentation/WEB_APP.md
  documentation/WEB_SEARCH_AND_REASONING.md
Due: prettier

docs: add canonical Web Search doc links in CLAUDE and example
  CLAUDE.md
  examples/web_search_reasoning_example.py
Due: prettier

chore: update secrets baseline after docs changes
  .secrets.baseline
  documentation/REVIEWER_SETUP.md
  documentation/WEB_APP.md
Due: prettier

docs(reviewer): replace duplicated descriptions with links to REVIEWER_SETUP.md
  bin/launch-reviewer.py
  src/council_ai/webapp/reviewer_ui.html
Due: none

docs(reviewer): point to canonical REVIEWER_SETUP.md in module docstring and domain description
  src/council_ai/domains/__init__.py
  src/council_ai/webapp/reviewer.py
Due: none

merge: sync docs branch with main — finalize merge and resolve overlaps
  CLAUDE.md
  documentation/WEB_SEARCH_AND_REASONING.md
  launch-council.py
  src/council_ai/cli_domain.py
  src/council_ai/cli_persona.py
  src/council_ai/webapp/reviewer_ui.html
  src/council_ai/webapp/src/components/History/SessionDetails.tsx
  src/council_ai/webapp/src/components/History/SessionItem.tsx
  src/council_ai/webapp/src/components/History/SessionManager.tsx
  src/council_ai/webapp/src/services/sessionApi.ts
  src/council_ai/webapp/src/styles/sessions.css
  tests/test_cli.py
Due: prettier, eslint

Update documentation/DOCS_MAINTENANCE.md
  documentation/DOCS_MAINTENANCE.md
Due: prettier

tests: replace literal API keys with constants and allowlist secrets; remove unused import; fix D202 & placeholders
  src/council_ai/cli/__init__.py
  src/council_ai/cli/commands/doctor.py
  src/council_ai/cli/commands/history.py
  src/council_ai/cli/commands/init.py
  src/council_ai/cli/commands/misc.py
  src/council_ai/cli/commands/review.py
  src/council_ai/cli/commands/web.py
  src/council_ai/cli/help_system.py
  src/council_ai/cli/tui/screens/main_screen.py
  src/council_ai/cli_domain.py
  src/council_ai/cli_persona.py
  tests/test_provider_fallback.py
Due: none

tests: remove unused imports, fix D200/D105 docstrings, rename unused loop vars (batch 1 flake8)
  tests/test_consultation_workflows.py
  tests/test_launcher_resolve_executable.py
  tests/test_optional_features.py
  tests/test_personal_integration.py
  tests/test_phase3_cli_hardening.py
  tests/test_phase4_tui_hardening.py
  tests/test_reasoning.py
  tests/test_repository_reviewer.py
  tests/test_retry_utils.py
  tests/test_reviewer.py
  tests/test_strategies.py
  tests/test_web_search.py
  tests/test_webapp_reviewer_api.py
Due: none

chore: fix D200 docstrings in source, small typing fixes (batch 2)
  src/council_ai/cli/error_handling.py
  src/council_ai/cli/tui/keyboard.py
  src/council_ai/cli/tui/widgets/input_panel.py
  src/council_ai/core/config.py
  src/council_ai/core/council.py
  src/council_ai/core/retry_utils.py
  src/council_ai/core/strategies/__init__.py
  src/council_ai/core/strategies/base.py
  src/council_ai/core/strategies/individual.py
  src/council_ai/core/strategies/sequential.py
Due: none

tests(tui): add keyboard manager tests; annotate keyboard categories (batch 3)
  tests/test_tui_keyboard.py
Due: none

chore: annotate exception signatures with Optional types (mypy)
  src/council_ai/core/exceptions.py
Due: none

chore: re-export get_domain for backwards compatibility with tests
  src/council_ai/cli_domain.py
Due: none

chore: add CommandDoc TypedDict and fix command docs typing (mypy)
  src/council_ai/cli/help_system.py
Due: none

chore: use typing.Any and add config validation tests; mark test keys for detect-secrets
  src/council_ai/cli/config_validation.py
  tests/test_config_validation.py
Due: none

docs: add pre-commit hook improvements and agent documentation
  .agent/workflows/pre-commit-checklist.md
  .pre-commit-config.yaml
  src/council_ai/core/council.py
  tests/test_strategy_return_types.py
Due: prettier

chore(refactor): compatibility handling for strategy.execute (phase 1) + mypy path fixes
  src/council_ai/core/config.py
  src/council_ai/core/history.py
  tests/test_strategy_return_types.py
Due: none

refactor(strategies): migrate IndividualStrategy to return ConsultationResult; adapt callers (Debate, Vote, Synthesis) to accept ConsultationResult (phase 2)
  src/council_ai/core/strategies/base.py
  src/council_ai/core/strategies/debate.py
  src/council_ai/core/strategies/individual.py
  src/council_ai/core/strategies/synthesis.py
  src/council_ai/core/strategies/vote.py
  tests/test_strategies.py
Due: none

refactor(strategies): SequentialStrategy -> ConsultationResult; update tests to accept both shapes (phase 2)
  src/council_ai/core/strategies/sequential.py
  tests/test_strategies.py
Due: none

refactor(strategies): SequentialStrategy -> ConsultationResult; update tests to accept both shapes (phase 2)
  .secrets.baseline
  README.md
  src/council_ai/__init__.py
  src/council_ai/cli/tui/widgets/input_panel.py
  src/council_ai/core/config.py
  src/council_ai/core/history.py
  src/council_ai/core/persona.py
  src/council_ai/core/personal_integration.py
  src/council_ai/core/strategies/sequential.py
  src/council_ai/core/strategies/vote.py
  src/council_ai/utils/__init__.py
  src/council_ai/utils/paths.py
  src/council_ai/webapp/app.py
  src/council_ai/webapp/reviewer.py
  tests/test_strategies.py
Due: prettier

docs: Update CHANGELOG with test additions and housekeeping shims
  CHANGELOG.md
  src/council_ai/core/strategies/vote.py
Due: prettier

docs: Update CHANGELOG with test additions and housekeeping shims
  CHANGELOG.md
  src/council_ai/core/strategies/synthesis.py
Due: prettier

refactor(strategies): DebateStrategy -> ConsultationResult (phase 2)
  src/council_ai/core/strategies/debate.py
Due: none

refactor(phase3): Type-safe strategy result extraction with defensive transition handling
  src/council_ai/core/council.py
Due: none

Update tests/test_provider_fallback.py
  tests/test_provider_fallback.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.(md|markdown|mdown)$
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
