Repository doronpers/council-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: npx eslint
  language: system
  args:
  - --cache
  - --fix
  - --no-warn-ignored

docs: reorganize documentation structure
  .secrets.baseline
  Archive/QUICK_START.md.archived
  Archive/SETUP_VENV.md.archived
  Archive/VENV_MANAGEMENT.md.archived
  Archive/WHICH_REPO.md.archived
  DOCUMENTATION_REVIEW.md
  GETTING_STARTED.md
  README.md
  REPOSITORY_STRUCTURE.md
  documentation/COMMON_TASKS.md
  documentation/README.md
  documentation/TROUBLESHOOTING.md
  documentation/internal/ARCHETYPE_GUIDE.md
  documentation/internal/CLAUDE_NOTES.md
  documentation/internal/CODEX_AUTOMATION.md
  documentation/internal/CODEX_ENV_SETUP.md
  documentation/internal/CONFLICT_RESOLUTION_GUIDE.md
  documentation/internal/GEMINI_NOTES.md
  documentation/internal/MERGE_INSTRUCTIONS.md
Due: prettier

docs: fix formatting in documentation maintenance guide
  documentation/DOCUMENTATION_MAINTENANCE.md
Due: prettier

test: add comprehensive test coverage for frontend, TUI widgets, and CLI commands
  package.json
  src/council_ai/webapp/src/__tests__/components/ErrorBoundary.test.tsx
  src/council_ai/webapp/src/__tests__/components/Modal.test.tsx
  src/council_ai/webapp/src/__tests__/components/QueryInput.test.tsx
  src/council_ai/webapp/src/__tests__/components/Tooltip.test.tsx
  src/council_ai/webapp/src/__tests__/setup.ts
  src/council_ai/webapp/src/__tests__/testUtils.tsx
  src/council_ai/webapp/src/__tests__/utils/validation.test.ts
  tests/test_cli_commands_unit.py
  tests/test_cli_history_unit.py
  tests/test_tui_input_panel.py
  tests/test_tui_widgets.py
  vitest.config.ts
Due: prettier, eslint

fix: replace window.confirm with ConfirmDialog and console statements with logger
  src/council_ai/webapp/src/components/Configuration/ConfigPanel.tsx
  src/council_ai/webapp/src/components/Configuration/PersonalIntegrationSection.tsx
  src/council_ai/webapp/src/components/History/HistoryItem.tsx
  src/council_ai/webapp/src/components/History/HistorySearch.tsx
  src/council_ai/webapp/src/components/History/SessionManager.tsx
  src/council_ai/webapp/src/components/Onboarding/OnboardingContext.tsx
  src/council_ai/webapp/src/components/Results/ResultsFilters.tsx
  src/council_ai/webapp/src/components/TTS/TTSSettings.tsx
Due: prettier, eslint

docs: update ROADMAP with completed testing and code quality improvements
  ROADMAP.md
Due: prettier

docs: add Phase 3 automation and status report
  documentation/internal/scripts/phase3-sono-eval.sh
  documentation/internal/scripts/phase3-sono-platform.sh
  documentation/internal/scripts/phase3-website-sonotheia.sh
  documentation/planning/PHASE3_STATUS_REPORT.md
Due: prettier

Design: Dieter Rams audit – type safety, favicon, docs
  CHANGELOG.md
  documentation/README.md
  documentation/Reports/DIETER_RAMS_DESIGN_AUDIT_2026-01-27.md
  src/council_ai/webapp/favicon.svg
  src/council_ai/webapp/index.html
  src/council_ai/webapp/src/components/Configuration/ConfigDiagnostics.tsx
  src/council_ai/webapp/src/utils/api.ts
  src/council_ai/webapp/src/utils/errorLogger.ts
  src/council_ai/webapp/src/utils/errors.ts
Due: prettier, eslint

fix(webapp): type-safe API errors, safe error logging, doc updates
  CHANGELOG.md
  documentation/ERROR_HANDLING.md
  documentation/Reports/DIETER_RAMS_DESIGN_AUDIT_2026-01-27.md
  src/council_ai/webapp/src/utils/api.ts
  src/council_ai/webapp/src/utils/errorLogger.ts
  src/council_ai/webapp/src/utils/errors.ts
Due: prettier, eslint

test: fix broken tests and improve coverage across backend and frontend
  src/council_ai/webapp/src/__tests__/components/QueryInput.test.tsx
  src/council_ai/webapp/src/__tests__/components/Tooltip.test.tsx
  src/council_ai/webapp/src/__tests__/utils/errorMessages.test.ts
  src/council_ai/webapp/src/__tests__/utils/export.test.ts
  src/council_ai/webapp/src/__tests__/utils/helpers.test.ts
  tests/test_cli_commands_unit.py
  tests/test_cli_history_unit.py
  tests/test_cost_tracker.py
  tests/test_memory_extended.py
  tests/test_provider_fallback.py
  tests/test_resilience.py
  tests/test_strategies_extended.py
Due: prettier, eslint

Fix provider None handling and add comprehensive specification
  COUNCIL_AI_SPECIFICATION.md
  src/council_ai/providers/__init__.py
Due: prettier

Update src/council_ai/providers/__init__.py
  src/council_ai/providers/__init__.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.(md|markdown|mdown)$
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
