Repository doronpers/council-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

# Pre-commit hooks configuration
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        types_or: [javascript, ts, tsx, json, css, markdown]

      - id: eslint
        name: eslint
        entry: npx eslint
        language: system
        types_or: [javascript, ts, tsx]
        args: [--cache, --fix, --no-warn-ignored]

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3
        args: [--line-length=100]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: [--config=.flake8]
        additional_dependencies:
          - flake8-docstrings
          - flake8-bugbear

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.7.1
    hooks:
      - id: mypy
        additional_dependencies:
          - types-PyYAML
          - pydantic
        exclude: ^launch-council\.py$

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline]
        exclude: |
          (?x)^(
            \.mypy_cache/|
            \.pytest_cache/|
            \.ruff_cache/|
            build/|
            dist/|
            node_modules/|
            package-lock\.json|
            \.env.*
          )

Update tests/test_provider_fallback.py
  tests/test_provider_fallback.py
Due: none

Update src/council_ai/cli/help_system.py
  src/council_ai/cli/help_system.py
Due: none

Update src/council_ai/core/retry_utils.py
  src/council_ai/core/retry_utils.py
Due: none

Update src/council_ai/core/council.py
  src/council_ai/core/council.py
Due: none

Update tests/test_config_validation.py
  tests/test_config_validation.py
Due: none

Update src/council_ai/core/strategies/vote.py
  src/council_ai/core/strategies/vote.py
Due: none

refactor: streamline docstring formatting and type hints across strategy modules and error handling
  .coveragerc
Due: none

Fix mypy type errors: return ConsultationResult instead of responses list, add tuple type guard
  .cursorrules
  .gitignore
  ROADMAP.md
  scripts/codex-setup.sh
  src/council_ai/core/council.py
  src/council_ai/core/session.py
  src/council_ai/core/strategies/synthesis.py
Due: prettier

Add quickstart CLI tests
  tests/test_cli_quickstart.py
Due: none

Add session management tab to history panel
  ROADMAP.md
  src/council_ai/webapp/src/components/History/HistoryPanel.tsx
  src/council_ai/webapp/src/styles/index.css
Due: prettier, eslint

Add Codex autonomous automation: validation, testing, and quality checks
  .codex/tasks.json
  .github/workflows/codex-validation.yml
  CODEX_AUTOMATION.md
  scripts/codex-automation.sh
Due: prettier

Add Codex autonomous automation to main branch
  .codex/tasks.json
  .github/workflows/codex-validation.yml
  CODEX_AUTOMATION.md
  scripts/codex-automation.sh
Due: prettier

Add bootstrap script to ensure automation script exists in Codex
  scripts/ensure-automation.sh
Due: none

Fix linting, formatting, and mypy type errors
  src/council_ai/cli/tui/screens/main_screen.py
  src/council_ai/cli/tui/widgets/input_panel.py
  src/council_ai/cli/tui/widgets/response_panel.py
  src/council_ai/core/strategies/base.py
  src/council_ai/core/strategies/debate.py
  src/council_ai/webapp/app.py
  tests/test_cancellation.py
  tests/test_debate_synthesis_return_types.py
  tests/test_provider_fallback.py
  tests/test_strategies.py
  tests/test_strategy_return_types.py
Due: none

Add comprehensive Codex environment setup documentation
  CODEX_ENV_SETUP.md
Due: prettier

Add Pattern Coach consultation strategy and update roadmap
  ROADMAP.md
  src/council_ai/core/config.py
  src/council_ai/core/council.py
  src/council_ai/core/strategies/__init__.py
  src/council_ai/core/strategies/pattern_coach.py
Due: prettier

Fix code inefficiencies and documentation issues
  CODEX_ENV_SETUP.md
  src/council_ai/core/strategies/pattern_coach.py
Due: prettier

feat: implement council qa command and sono-eval integration
  ROADMAP.md
  src/council_ai/cli/app.py
  src/council_ai/cli/commands/__init__.py
  src/council_ai/cli/commands/qa.py
  src/council_ai/domains/assessment.yaml
  src/council_ai/tools/sono_eval_client.py
Due: prettier

docs: Comprehensive documentation revision and update
  .secrets.baseline
  Archive/COMPREHENSIVE_HARDENING_SUMMARY.md
  Archive/COUNCIL_AI_MEMORY_PERSONALIZATION_REPORT_2026-01-19.md
  Archive/DESIGN_AUDIT_REPORT.md
  Archive/IMPLEMENTATION_SUMMARY.md
  Archive/PHASE4_COMPLETION_REPORT.md
  Archive/PHASE_2_WCAG_AUDIT.md
  CHANGELOG.md
  README.md
  ROADMAP.md
  documentation/DOCUMENTATION_REVISION_PLAN.md
  documentation/ERROR_HANDLING.md
  documentation/README.md
  documentation/WEB_APP.md
Due: prettier

docs: Update roadmap with current status
  ROADMAP.md
Due: prettier

feat: Implement core Council engine for multi-persona advisory and consultation management.
  src/council_ai/__main__.py
  src/council_ai/cli/__init__.py
  src/council_ai/cli/__main__.py
  src/council_ai/cli/commands/__init__.py
  src/council_ai/cli/commands/doctor.py
  src/council_ai/cli/commands/history.py
  src/council_ai/cli/commands/init.py
  src/council_ai/cli/commands/misc.py
  src/council_ai/cli/commands/review.py
  src/council_ai/cli/commands/web.py
  src/council_ai/cli/tui/widgets/__init__.py
  src/council_ai/cli/tui/widgets/response_panel.py
  src/council_ai/core/config.py
  src/council_ai/core/council.py
  src/council_ai/core/diagnostics.py
  src/council_ai/core/history.py
  src/council_ai/core/retry_utils.py
  src/council_ai/core/strategies/__init__.py
  src/council_ai/core/strategies/base.py
  src/council_ai/core/strategies/debate.py
  src/council_ai/core/strategies/individual.py
  src/council_ai/core/strategies/sequential.py
  src/council_ai/core/strategies/synthesis.py
  src/council_ai/core/strategies/vote.py
  src/council_ai/providers/__init__.py
  src/council_ai/webapp/app.py
  src/council_ai/webapp/src/context/ConsultationContext.tsx
Due: prettier, eslint

chore: stabilize repository post-update to v2.0.0
  examples/quickstart.py
  src/council_ai/__init__.py
  src/council_ai/cli/app.py
  src/council_ai/cli/commands/consult.py
  src/council_ai/cli/utils.py
  src/council_ai/core/council.py
  src/council_ai/core/strategies/individual.py
  src/council_ai/core/strategies/vote.py
  tests/test_cli.py
  tests/test_domains.py
  tests/test_multi_model_utility.py
Due: none

feat: introduce Textual UI and FastAPI web applications for Council AI.
  .workspace-config/council-ai/user_memory/memory.json
  src/council_ai/cli/tui/app.py
  src/council_ai/core/strategies/debate.py
  src/council_ai/webapp/app.py
  tests/test_cancellation.py
  tests/test_debate_synthesis_return_types.py
  tests/test_diagnostics.py
  tests/test_phase4_tui_hardening.py
  tests/test_provider_fallback.py
  tests/test_strategy_return_types.py
  tests/test_tui_keyboard.py
Due: prettier

feat: Introduce a consultation strategy factory with individual, sequential, debate, and vote strategies, and enhance TUI with navigation, scrolling, and content persistence.
  .workspace-config/council-ai/user_memory/memory.json
  launch-council.py
  src/council_ai/core/strategies/__init__.py
  src/council_ai/core/strategies/debate.py
  src/council_ai/core/strategies/individual.py
  src/council_ai/core/strategies/sequential.py
  src/council_ai/core/strategies/vote.py
  test_npm_fix.py
  tests/test_phase4_tui_hardening.py
  tests/test_tui_keyboard.py
Due: prettier

feat: implement archetype system for persona inheritance
  src/council_ai/personas/archetypes/cognitive_scientist.yaml
  src/council_ai/personas/archetypes/quality_advocate.yaml
  src/council_ai/personas/archetypes/risk_analyst.yaml
  src/council_ai/personas/archetypes/security_specialist.yaml
  src/council_ai/personas/archetypes/strategic_leader.yaml
  src/council_ai/personas/grove.yaml
  src/council_ai/personas/holman.yaml
  src/council_ai/personas/kahneman.yaml
  src/council_ai/personas/rams.yaml
  src/council_ai/personas/taleb.yaml
Due: none

fix: correct rams.yaml metadata structure (remove duplicate archetype)
  src/council_ai/personas/rams.yaml
Due: none

docs: add archetype system documentation and architecture guide
  .secrets.baseline
  ARCHETYPE_GUIDE.md
  README.md
Due: prettier

test: make diagnostics and provider tests deterministic; fix legacy strategy return types
  .workspace-config/council-ai/user_memory/memory.json
  src/council_ai/core/council.py
  tests/test_diagnostics.py
  tests/test_provider_fallback.py
  tests/test_strategy_return_types.py
Due: prettier

feat: comprehensive UX and documentation improvements
  .serena/.gitignore
  .serena/project.yml
  .workspace-config/council-ai/user_memory/memory.json
  README.md
  documentation/README.md
  src/council_ai/cli/commands/init.py
  src/council_ai/webapp/src/components/Configuration/ApiKeyInput.tsx
  src/council_ai/webapp/src/components/Configuration/BaseUrlInput.tsx
  src/council_ai/webapp/src/components/Configuration/ProviderSelect.tsx
  src/council_ai/webapp/src/components/Consultation/ConsultationBar.tsx
  src/council_ai/webapp/src/components/Consultation/SubmitButton.tsx
  src/council_ai/webapp/src/components/Onboarding/OnboardingWizard.tsx
Due: prettier, eslint
